.media-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.media-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 0px 16px 0px 16px;
  height: 50px;
  border-radius: 4px;
}
